@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';

/* Windows form styling fix (see Skeleton docs) */
.select,
.input,
.textarea,
.input-group {
	background-color: var(--color-surface-50-950);
	color: var(--color-surface-950-50);
}
